public_html/manager/
public_html/img/
public_html/imag_ftp/
public_html/instructions/
public_html/task/
public_html/img_3d/
public_html/img_draws/
public_html/img_news/
public_html/*.pdf
public_html/*.zip
public_html/*.csv
error_log*
*.mp4
*.jpg
*.jpeg
*.png
!public_html/assets/tpl/**/*.jpg
!public_html/assets/tpl/**/*.jpeg
!public_html/assets/tpl/**/*.png
!public_html/images/*.jpg
!public_html/images/*.jpeg
!public_html/images/*.png
public_html/assets/downloads/
public_html/assets/files/
public_html/assets/images/
public_html/assets/uploads/
public_html/core/cache/
*.xls
*.doc
_backup/
config.inc.php
config.core.php
.idea/
public_html/core/packages/
.modstore.pro.key
public_html/assets/components/minifyx/cache/
.DAV/
logs/
document_errors/
public_html/index.html
public_shtml/
access_log
public_html/ms_*
public_html/pThumb*
